body#comp{
  background-color: lightblue;
  margin: 0px;
}

body#stu{
  margin: 0;
}

body#bruh{
  background-color: #767676;
  margin: 0;
}

html{
  width: 100%;
}

#gav{
padding-left: :10px;

}


header{
  display: flex;
  font-size: 20px;
  align-items: center;
  background-color: #004;
  width: 100%;
}

#more{
  width: 150px;
  height: 80px;
}

nav{
  display: inline-block;
  font-size: 20px;
  align-self: top;
  align-items: top;
  border-spacing: 1300px;
  width: 100%;
}

#fom{
  align-items: center;
}

.btn1{
  background-color: #004;
  color: #00dbff;
  padding: 40.2px 80px;
}

.btn2{
  background-color: #004;
  color: #00dbff;
  padding: 40.2px 80px;
}

.btn3{
  background-color: #004;
  color: #00dbff;
  padding: 40.2px 80px;
}

a:hover{
  background-color: darkblue;
  cursor: pointer;
}

#logo{
  width: 240px;
  height: 102px;
  border-radius: none;
  cursor: pointer;
  display: inline-block;
}

nav:hover{
  colour: blue;
}

button{
  background-color: lightblue;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

button:hover{
  background-color: darkblue;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

img#bgimg{
  width: 100%;
  height: auto;
  opacity: inherit;
  border-style: none;
}

img#supimg{
  width: 109%;
  height: auto;
  opacity: inherit;
}

.main{
  position: absolute;
}

#part2{
  font-size: 40px;
  color: black;
  position: absolute;
  top: 276px;
  left: 545px;
}

#line1{
  display: flex;
  padding: -1px 100px;
}

#line2{
  display: flex;
  padding: -1px 60px;
}

#line3{
  display: flex;
  padding: -1px 120px;
}

.type1{
  padding: 30px 97px;
}

.type2{
  padding: 30px 70px;
}

.type3{
  padding: 30px 70px;
}

.type4{
  padding: 30px 43px;
}

.type5{
  padding: 30px 70px;
}

.type6{
  padding: 30px 70px;
}

.type7{
  padding: 30px 95px;
}

.type8{
  padding: 30px 70px;
}

.type9{
  padding: 30px 70px;
}

h6{
  font-size: 20px;
}

#tit{
  font-size: 30px;
}

#fom{
     padding-left: 100px;
}
