body#comp{
  background-color: lightblue;
}

body#bruh{
  background-color: blue;
}

header{
  display: flex;
  font-size: 20px;
  align-items: center;
  background-color: darkblue;
}

#more{
  width: 150px;
  height: 80px;
}

nav{
  display: inline-block;
  font-size: 20px;
  align-self: top;
  align-items: top;
  border-spacing: 1300px;
}

.btn1{
  background-color: darkblue;
  color: green;
  padding: 50px 70px;
}

.btn2{
  background-color: darkblue;
  color: green;
  padding: 50px 70px;
}

.btn3{
  background-color: darkblue;
  color: green;
  padding: 50px 70px;
}

a:hover{
  background-color: lightblue;
}

#logo{
  width: 200px;
  height: 200px;
  border-radius: none;
  cursor: pointer;
  display: inline-block;
}

nav:hover{
  colour: blue;
}

button{
  background-color: lightblue;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

button:hover{
  background-color: darkblue;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

img#bgimg{
  width: 100%;
  height: auto;
  opacity: inherit;
}

img#supimg{
  width: 130%;
  height: auto;
  opacity: inherit;
}

.main{
  position: absolute;
}

#part2{
  font-size: 40px;
  color: black;
  position: absolute;
  top: 400px;
  left: 600px;
}

#line1{
  display: flex;
  padding: 50px 100px;
}

#line2{
  display: flex;
  padding: 50px 60px;
}

#line3{
  display: flex;
  padding: 50px 120px;
}

.type1{
  padding: 30px 70px;
}

.type2{
  padding: 30px 70px;
}

.type3{
  padding: 30px 70px;
}

.type4{
  padding: 30px 70px;
}

.type5{
  padding: 30px 70px;
}

.type6{
  padding: 30px 70px;
}

.type7{
  padding: 30px 70px;
}

.type8{
  padding: 30px 70px;
}

.type9{
  padding: 30px 70px;
}

h6{
  font-size: 20px;
}

#tit{
  font-size: 30px;
}
